@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card-container{
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(4, 1fr);
}

.create-post{
    background-color: bisque;
    padding: 30px;
}
.col-1{
    display: grid;
    gap: 2em;
}
.quick{
    color:rgb(93, 93, 184) ;
}
.post-btn{
    padding: 14px;
    margin-top: 20px;
    background-color: rgb(245, 202, 123);
    border-radius: 10px;
    border: none;
    color:rgb(93, 93, 184) ;
    font-weight: 800;
}
.write-content{
    background-color: rgb(245, 202, 123);
    padding: 10px;
}
.content-info{
    width: 118px;
}
.social-media{
    background-color: rgb(93, 93, 184);
    
}
.accounts-maintain{
    background-color:rgb(245, 202, 123) ;
}
.growth{
    background-color:rgb(93, 93, 184) ;
}
.schedule{
    background-color: rgb(211, 199, 226);
}
img{
    /* height: 100px; */
    width: 150px;
}